# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.metadata

# IDE
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Firebase secrets
**/google-services.json
**/firebase_options.dart
macos/Flutter/GeneratedPluginRegistrant.*
